
<img src="https://fotos.subefotos.com/9c8005521875be2967bafcbe78cb5acbo.png" style = "width: 150px; height: auto; margin-left:auto;margin-right:auto"/>
<img src="https://fotos.subefotos.com/2a13aea56c4bf96860ed297b29abc189o.png" style = "width: 750px; height: auto; margin-left: auto; margin-right: auto;margin-top:0 "/>

# Operaciones con Pandas
___

## Sesión 3

Cargaremos un Data Frame que brinda información histórica sobre el uso compartido de bicicletas en Londres, extraída de [kaggle](https://www.kaggle.com).

**Kagle** es una comunidad de científicos de datos, podrás encontar desde Data Frames muy interesantes hasta Notebooks en Python o en R haciendo análisis de los mismos.

In [1]:
import pandas as pd

In [7]:
df_merged = pd.read_csv('london_merged.csv')
df_merged.sample(10)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
12258,2016-05-31 15:00:00,919,13.0,13.0,88.0,21.0,4.0,0.0,0.0,0.0
11068,2016-04-12 01:00:00,88,10.0,8.0,88.0,12.0,7.0,0.0,0.0,0.0
4897,2015-07-27 16:00:00,2001,19.5,19.5,50.5,35.0,3.0,0.0,0.0,1.0
3988,2015-06-19 15:00:00,1802,18.5,18.5,50.5,16.0,2.0,0.0,0.0,1.0
12717,2016-06-19 18:00:00,2082,17.5,17.5,75.0,23.0,3.0,0.0,1.0,1.0
15515,2016-10-16 19:00:00,938,15.0,15.0,77.0,12.0,1.0,0.0,1.0,2.0
2166,2015-04-04 14:00:00,1108,8.5,5.5,68.5,19.5,3.0,0.0,1.0,0.0
4988,2015-07-31 11:00:00,1289,18.5,18.5,49.0,6.5,3.0,0.0,0.0,1.0
16632,2016-12-02 10:00:00,995,7.5,6.5,84.5,6.5,3.0,0.0,0.0,3.0
16668,2016-12-03 22:00:00,511,5.0,2.5,81.0,10.0,1.0,0.0,1.0,3.0

In [5]:
df_merged.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

Convertiremos la columna **timestamp** a tipo **datetime** para recordar

In [8]:
df_merged['timestamp'] = pd.to_datetime(df_merged['timestamp'], format = '%Y-%m-%d %H:%M:%S')

### Actividad 1:
Eliminar la primera columna del Data Frame y almacenarlo en una variable llamada **df**

### Operaciones con un Data Frame

Igual que conm las series o los vectores de numpy podemos hacer operaciones acada uno de los elementos de nuestro Data Frame:

In [11]:
df**2

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,33124,9.00,4.00,8649.00,36.00,9.0,0.0,1.0,9.0
1,19044,9.00,6.25,8649.00,25.00,1.0,0.0,1.0,9.0
2,17956,6.25,6.25,9312.25,0.00,1.0,0.0,1.0,9.0
3,5184,4.00,4.00,10000.00,0.00,1.0,0.0,1.0,9.0
4,2209,4.00,0.00,8649.00,42.25,1.0,0.0,1.0,9.0
...,...,...,...,...,...,...,...,...,...
17409,1085764,25.00,1.00,6561.00,361.00,9.0,0.0,0.0,9.0
17410,292681,25.00,1.00,6561.00,441.00,16.0,0.0,0.0,9.0
17411,113569,30.25,2.25,6162.25,576.00,16.0,0.0,0.0,9.0
17412,50176,30.25,2.25,5776.00,529.00,16.0,0.0,0.0,9.0
17413,19321,25.00,1.00,5776.00,484.00,4.0,0.0,0.0,9.0

In [12]:
df['wind_speed']**2 + 10

0         46.00
1         35.00
2         10.00
3         10.00
4         52.25
          ...
17409    371.00
17410    451.00
17411    586.00
17412    539.00
17413    494.00
Name: wind_speed, Length: 17414, dtype: float64

Podemos ocupar funciones trigonométricas desde numpy:

In [18]:
import numpy as np

In [19]:
np.sin(df['wind_speed']**2+10)

0        0.901788
1       -0.428183
2       -0.544021
3       -0.544021
4        0.915631
           ...
17409    0.287932
17410   -0.983582
17411    0.995681
17412   -0.976578
17413   -0.696102
Name: wind_speed, Length: 17414, dtype: float64

También podemos hacer operaciones entre series:

In [20]:
df['t1'] - df['t2']

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

Porducto punto:

In [22]:
df['t1'].dot(df['t1'])

3247652.777777778

### Creando nuestra propia función para aplicarla a Pandas Series

Vamos a crear la siguiente función:
$ f(x) = x^2 + 1$

In [24]:
def f(x):
    return x**2+1

Si nosotros se la aplicamos a un número, ya sabemos que pasa:

In [25]:
f(1)

2

Pero vamos a ver que sucede si se la aplicamos a un arreglo de Numpy

In [26]:
np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [27]:
f(np.array([1,2,3,4,5]))

array([ 2,  5, 10, 17, 26], dtype=int32)

**Ahora con una Pandas Serie**

In [29]:
df['t2']

0        2.0
1        2.5
2        2.5
3        2.0
4        0.0
        ...
17409    1.0
17410    1.0
17411    1.5
17412    1.5
17413    1.0
Name: t2, Length: 17414, dtype: float64

In [30]:
df['t2'].apply(f)

0        5.00
1        7.25
2        7.25
3        5.00
4        1.00
         ...
17409    2.00
17410    2.00
17411    3.25
17412    3.25
17413    2.00
Name: t2, Length: 17414, dtype: float64

Vemos que nosotros no le pasamos el resultado de una función, le pasamos directamente la función, es decir no le pasamos **f()** sino **f**

Algo muy práctico es utilizar las funciones lambda

In [31]:
df['t2'].apply(lambda x: x**2 + 1)

0        5.00
1        7.25
2        7.25
3        5.00
4        1.00
         ...
17409    2.00
17410    2.00
17411    3.25
17412    3.25
17413    2.00
Name: t2, Length: 17414, dtype: float64

**Funciones con el Data Frame**

Si nosotros aplicamos el método *apply()* directamente a un DataFrame, se le aplicará a todos los elementos:

In [35]:
df.apply(lambda x: x + 1)

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,183,4.0,3.0,94.0,7.0,4.0,1.0,2.0,4.0
1,139,4.0,3.5,94.0,6.0,2.0,1.0,2.0,4.0
2,135,3.5,3.5,97.5,1.0,2.0,1.0,2.0,4.0
3,73,3.0,3.0,101.0,1.0,2.0,1.0,2.0,4.0
4,48,3.0,1.0,94.0,7.5,2.0,1.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...
17409,1043,6.0,2.0,82.0,20.0,4.0,1.0,1.0,4.0
17410,542,6.0,2.0,82.0,22.0,5.0,1.0,1.0,4.0
17411,338,6.5,2.5,79.5,25.0,5.0,1.0,1.0,4.0
17412,225,6.5,2.5,77.0,24.0,5.0,1.0,1.0,4.0
17413,140,6.0,2.0,77.0,23.0,3.0,1.0,1.0,4.0

Pero si nosotros utilizamos funciones de medidas de tendencia central, se le aplicará por columnas

In [37]:
df.apply(lambda x: x.mean())

cnt             1143.101642
t1                12.468091
t2                11.520836
hum               72.324954
wind_speed        15.913063
weather_code       2.722752
is_holiday         0.022051
is_weekend         0.285403
season             1.492075
dtype: float64

In [41]:
df.apply(lambda x: x.std())

cnt             1085.108068
t1                 5.571818
t2                 6.615145
hum               14.313186
wind_speed         7.894570
weather_code       2.341163
is_holiday         0.146854
is_weekend         0.451619
season             1.118911
dtype: float64

Si nosotros quisieramos cálcular esa función por fila agregamos el parámetro **axis**

In [42]:
df.apply(lambda x: x.mean(), axis = 1)

0         32.555556
1         27.388889
2         26.722222
3         20.111111
4         17.055556
            ...
17409    128.222222
17410     72.888889
17411     50.388889
17412     37.444444
17413     27.555556
Length: 17414, dtype: float64

Podemos hacer operaciones entre columnas del Data Frame

In [43]:
df.apply(lambda x:  x['t1'] - x['t2'],axis = 1)

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64